<h1>Create new a user</h1>

<%= form_with model: @user do |form| %>
  <%= form.label :userId, "User ID:" %>
  <%= form.text_field :userId %>
  <%= form.label :name, "Name:" %>
  <%= form.text_field :name %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <div>
  <%= form.submit "Create" %>
  </div>
<% end %>